# VS Code
*.code-workspace

# PIXI
.pixi/*
!.pixi/config.toml

# Python Caches
**/__pycache__

# MISC
materials/
docs/*
*notebook.md
.Rproj.user

# Raw data
python-wf/data
!python-wf/data/.gitkeep
r-wf/data
!r-wf/data/.gitkeep

# Results
python-wf/results/intermediates
r-wf/results/intermediates